  body {
    background-color: #222;
    color: #bbb;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  #titleHeader {
    height: 40px;
    width: 100%;
    background-color: #000;
    font-size: 32px;
    color: white;
    display: block;
    padding: 20px;
    padding-top: 10px;
    padding-left: 30px;
    margin-left: -10px;
    font-family: monospace;
    text-shadow: 0 0 25px azure;
  }
  
  #titleDesc {
    font-size: 14px;
    color: lightslategray;
  }

  #appSpace {
    width: 92vw;
    height: 85vh;
    display: inline-block;
  }

  #sketchSpace {
    display: none;
  }

  .editor {
    height: 100%;
    border: 0.5px solid #222;
    border-right: 1px solid tomato;
  }

  div.buttonPanel {
    width: 7vw;
    height: 85vh;
    display: inline-block;
    background-color: #222;
    padding-top: 1px;
  }

  div#footnote {
    text-align: center;
    display: block;
    border-top: 2px solid tomato;
    margin-top: -3px;
    padding-top: 8px;
  }

  table#controllerPort{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
  }

  table#buttonlist{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding-top: 10px;
  }

  table#buttonlist button{
    background-color: #322222;
    width: 100%;
    border-color: tomato;
    height: 55px;
    color: azure;
    font-size: large;
    font-family: monospace;
    border-radius: 35px;
  }

  table#buttonlist button:disabled {
    background-color: #3b3b3b;
    border-color: dimgray;
    color: rgb(185, 185, 185);
    cursor: default;
  }

  table#phaseScale {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border-bottom: 2px solid tomato;
    table-layout: fixed;
    margin-bottom: -3px;
    margin-top: 5px;
    padding-bottom: 5px;
  }

  table#phaseScale td{
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    color: dimgrey;
    cursor: default;
  }

  table#phaseScale td.selectedPhase {
    font-weight: bold;
    color: azure;
    background-color: #3e3e3e;
  }

  /* General Purpose Pluggables or Apply-alls */
  .pointer {cursor: pointer;}
  .hidden {display: none;}
  :focus {outline:none;}